PORT=8080
MONGO_CONNECTION_STRING=
NODE_ENV=development
JWT_SECRET=
CLOUDINARY_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
FRONTEND_DOMAIN=http://localhost:5173
REDIS_ENDPOINT_URI=
REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=